<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="Greetings.css" />
  </head>
  <body>
      <div class="container-fluid">
<!-- Background animtion-->
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<!-- header -->
   <header>
<!-- navbar -->
     <nav>
        
       </nav>
<!-- logo -->
      <div class="logo"><span>N</span></div>
<!-- title & content -->
      <section class="header-content">
     
      </section>
  </header>
  </body>
</html>
